<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kh.ad.notifications_listener_service">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver
            android:name="kh.ad.notifications_listener_service.receivers.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="Restart Notification Listener Service When App Reboot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <service
            android:name="kh.ad.notifications_listener_service.services.NotificationListenerService"
            android:exported="true"
            android:label="Notification Listener Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
